<div class="container">

  <span class="header">Pizzaria Horácio</span>

  <div id="container_demo">

    <div id="wrapper">

      <div id="comanda">

        <h1>COMANDA</h1>

        <form>

          <p>
            <label>Chopp</label>
            <input type="text" formControlName="chopp"/>
          </p>
          <p>
            <label>Pizzas</label>
            <input type="text" name="inPizzas" formControlName="pizaa"/>
          </p>
          <p>
              <label>Recheios</label>
              <input type="text" name="inRecheios" formControlName="recheio"/>
          </p>
          <p>
              <label>Pessoas</label>
              <input type="text" name="inPessoas" formControlName="pessoa"/>
          </p>

          <p class="keepcomanda">
            <input type="checkbox" name="inServico" formControlName="taxa"/>
            <label> Taxa de serviço</label>
          </p>

          <p class="comanda button">
            <input type="submit" value="Registrar" />
          </p>
          
        </form>

        <p class="about">Juan Freire // Thiago Reis  </p>

      </div>

    </div>

  </div>

</div>